/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top form images section */

#intuit-logo {
    width: 118px;
    height: 35px;
}

.intuit-icon {
    height: 23px;
    width: 23;
    margin-right: 4px;
}

.intuit-text-image {
    height: 22;
    width: auto;
}